{% extends "base.html" %} {% block content %}

<!-- MAIN related stuff -->
<script src="./static/lib/js/d3.tip.v0.6.3.js"></script>
<script src="./static/lib/js/legend.js"></script>
<script src="./static/js/chart.js"></script>

<!-- MATRIX related stuff -->
<script src="./static/lib/js/d3.layout.adjacencyMatrix.js" type="text/JavaScript"></script>
<script src='./static/js/AdjaGraph.js' type='text/javascript'></script> 

<!-- C3 related stuff -->
<link rel="stylesheet" href="./static/lib/css/c3.css"  type="text/css">
<script src="./static/lib/js/c3.min.js"></script>

<script src='./static/js/c3Chart.js' type='text/javascript'></script>

<!-- LOCAL related stuff -->
<script src='./static/js/ipChart.js' type='text/javascript'></script>

    <style type="text/css">
        svg {
    
  }
  g.am-axis text {
    font-size: 10px;
  }

  .domain {
    fill: none;
  }

 	.heightRow {
		height: 200px;
	}

    </style>

<div class="container-fluid">

	<div class="row">

		<div class="col-xs-4">
			<div class="chart-wrapper">
				<div class="chart-title">IP - Connections with D3</div>
				<div class="chart-stage">
					<div id=graph-chart></div>
				</div>
				<div class="chart-notes heightRow">
					<p>
						D3 built in library shows the connections between dedicated IP addresses.	</br>
						Hovering over the nodes will show the IP Address. </br>
						The line thickness indicated the amount of packets seen in the trace.
					</p>
					</br>					<p>
						
						<button class="btn btn-default" type="button" onclick="export_svg('graph-chart', 'svg')">Export as svg</button>
						<button class="btn btn-default" type="button" onclick="export_svg('graph-chart', 'pdf')">Export as pdf</button>
						<button class="btn btn-default" type="button" onclick="export_svg('graph-chart', 'png')">Export as png</button>
					</p>
					
				</div>
			</div>
		<!- end col xs-4 -->
		</div>

		<div class="col-xs-8 col-height">

				<div class="chart-wrapper">
					<div class="chart-title">Sender over Time</div>
					<div class="chart-stage">
						<div id=senderTimeline-chart></div>
					</div>
					<div class="chart-notes heightRow">
						<p>
							Sending IP Addresses over time.
						</p>
						<div class="row">
						<div class="col-md-6">
							<div class="input-group text-right">
							<div>
								<input name="binningValue" id="binningValue" type="text"
									class="form-control" placeholder="Enter Binning Size ...">
							</div>

							<button class="btn btn-default" type="button"
								onclick="ReBinningSend()">Show!</button>


							</div>
						</div>
						<div class="col-md-6">
						
							<button class="btn btn-default" type="button" onclick="export_svg('senderTimeline-chart', 'svg')">Export as svg</button>
							<button class="btn btn-default" type="button" onclick="export_svg('senderTimeline-chart', 'pdf')">Export as pdf</button>
							<button class="btn btn-default" type="button" onclick="export_svg('senderTimeline-chart', 'png')">Export as png</button>
						</div>
						</div>
					</div>
				</div>
			
				<div class="chart-wrapper">
					<div class="chart-title">Receiver over Time</div>
					<div class="chart-stage">
						<div id=recTimeline-chart></div>
					</div>
					<div class="chart-notes heightRow">
						<p>
							Receiving IP Addresses over time.
						</p>
						<div class="row">
						<div class="col-md-6">
							<div class="input-group text-right">
							<div>
								<input name="binningValue" id="binningValue" type="text"
									class="form-control" placeholder="Enter Binning Size ...">
							</div>

							<button class="btn btn-default" type="button"
								onclick="ReBinningRec()">Show!</button>


							</div>
						</div>
						<div class="col-md-6">
						
							<button class="btn btn-default" type="button" onclick="export_svg('recTimeline-chart', 'svg')">Export as svg</button>
							<button class="btn btn-default" type="button" onclick="export_svg('recTimeline-chart', 'pdf')">Export as pdf</button>
							<button class="btn btn-default" type="button" onclick="export_svg('recTimeline-chart', 'png')">Export as png</button>
						</div>
						</div>
					</div>
				</div>
			

		<!- end col -->
		</div>
	
	<!- end row -->
	</div>

	<div class="row">

		<div class="col-md-4">

			<div class="chart-wrapper">
				<div class="chart-title">IP - Connections with Adjacency Matrix</div>
				<div class="chart-stage">
					<div id=adja-chart></div>
				</div>
				<div class="chart-notes heightRow">
					<p>
						Adjacency Matrix representation of graphs.</br>
					</p>
					</br>
					<p>
						
						<button class="btn btn-default" type="button" onclick="export_svg('adja-chart', 'svg')">Export as svg</button>
						<button class="btn btn-default" type="button" onclick="export_svg('adja-chart', 'pdf')">Export as pdf</button>
						<button class="btn btn-default" type="button" onclick="export_svg('adja-chart', 'png')">Export as png</button>
						</p>
				</div>
			</div>

		<!- end col-md -->
		</div>

		<div class="col-md-4">
			<div class="chart-wrapper">
				<div class="chart-title">TTL Distribution</div>
				<div class="chart-stage">
					<div id=ttl-chart></div>
				</div>
				<div class="chart-notes heightRow">
					<p>
						TTL Distribution of IP Packets is shown.</br>
						All occurred TTLs and there number of occurence are shown in this bar-chart </br>
						Hovering over the data shows a more detailed view. </br>
					</p>
					</br>
					<p>
						
						<button class="btn btn-default" type="button" onclick="export_svg('ttl-chart', 'svg')">Export as svg</button>
						<button class="btn btn-default" type="button" onclick="export_svg('ttl-chart', 'pdf')">Export as pdf</button>
						<button class="btn btn-default" type="button" onclick="export_svg('ttl-chart', 'png')">Export as png</button>
					</p>
					
				</div>
			</div>
			<!- end col-md -->
		</div>

		<div class="col-md-4">

			<div class="chart-wrapper">
				<div class="chart-title">Flag Distribution</div>
				<div class="chart-stage">
					<div id=flag-chart></div>
				</div>
				<div class="chart-notes heightRow">
					<p>
						Flag Distribution of IP Packets in the trace is shown.</br>
						This Chart shows the number of set (True) MF- (More Fragments) and DF-Bits (Do not Fragment).</br>
						Moreover the RF-Bit (Reserved) is shown and should be zero (no bar). </br>
					</p>
					</br>
					<p>
						
						<button class="btn btn-default" type="button" onclick="export_svg('flag-chart', 'svg')">Export as svg</button>
						<button class="btn btn-default" type="button" onclick="export_svg('flag-chart', 'pdf')">Export as pdf</button>
						<button class="btn btn-default" type="button" onclick="export_svg('flag-chart', 'png')">Export as png</button>
					</p>
					
				</div>
			</div>
		<!- end col-md -->
		</div>
	
	<!- end row -->
	</div>

</div>

{% endblock %}
