{% extends "base.html" %} {% block content %}

<style type="text/css">

 	.heightRow {
		height: 200px;
		background-color: #FBFBFB;
	}

	.foobarHintergrund{
		background-color: #FFFFFF;
	}


</style>


<div class="page-header">
	<h1>
		Traffic Visualization <small>Making Network Traffic Understandable</small>
	</h1>
</div>


{%for imp in imps%}

<div class="container-fluid">
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{ imp[0] }}</h3>
			</div>
			<div class="panel-body heightRow">
				{{ imp[2] }}
			</div>
			<div class="panel-footer">
				<p>
					<a class="btn btn-primary" href="{{ imp[1] }}" role="button">See
							more</a>
				</p>
			</div>
		</div>
	</div>
</div>
		
{%endfor%}


{% endblock %}
