{% extends "backendBase.html" %} {% block innercontent %}

<div class="panel panel-success">
	<div class="panel-heading"><h3>Welcome to TraViSy Backend. </h3></div>
	<div class="panel-body">
    		
			<h4>Services Configured</h4>

			<dl class="dl-horizontal">
				<dt>Service Overview</dt>
			  	<dd>
See configured Services, start, stop or restart them.
				</dd>

  	</div>
  	<div class="panel-footer">Returning back to Instructions will give an overview of existings functionality.</div>
</div>


{% endblock %}
