{% extends "backendBase.html" %} {% block innercontent %}

<div class="panel panel-warning">

	<div class="panel-heading">
		<h3 class="panel-title">Store existing Files into Collection</h3>
	</div>

	<div class="panel-body">

	

		<form method="POST" style="width:100%; position:relative; border-collapse: separate"> 

    		{%for file in files%}

		
		<div class="radio">
	  		<label>
	    			<input type="radio" name="file" value="{{ file }}">
	    			{{ file }}
	  		</label>
		</div>
		

		{%endfor%}

<div class="form-group">
    							<label for="Name">Name</label>
    								<input type="text" class="form-control" id="Name" name="Name" >
  						</div> 

						<div class="form-group">
    							<label for="Owner">Owner</label>
    								<input type="text" class="form-control" id="Owner" name="Owner">
  						</div>
						<div class="form-group">
						    	<label for="Description">Description</label>
						    	<input type="text" class="form-control" id="Description" name="Description">
						</div>
						<div class="form-group">
						    	<label for="Description">Capture Start</label>
						    	<input type="text" class="form-control" id="Start" name="Start">
						</div>
						<div class="form-group">
						    	<label for="Description">Capture Ende</label>
						    	<input type="text" class="form-control" id="Ende" name="Ende">
						</div>
						<div class="form-group">
						    	<label for="Description">Location</label>
						    	<input type="text" class="form-control" id="Location" name="Location">
						</div>

		<button type="submit" class="btn btn-default">Store</button>

		</form>


  	</div>

  	<div class="panel-footer">
		Choose one of the given collections to store it in the internal database. Fill in needed metadata. You can change those information via Edit Database Collection.	</div>

</div>


{% endblock %}
