{% extends "netmon/netmonBase.html" %} {% block netmon %}
<style>
.alert-own {
    color: #FFCC99;
    background-color: #FFE5CC;
    border-color: #FFCC99;
}
.alert-own hr {
  border-top-color: #FF8000;
}
.alert-own .alert-link {
  color: #FF8000;
}
.panel-own {
  border-color: #FFCC99;
}
.panel-own > .panel-heading {
  color: #FF8000;
  background-color: #FFE5CC;
  border-color: #FFCC99;
}
.panel-own > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #FF8000;
}
.panel-own > .panel-heading .badge {
  color: #FFCC99;
  background-color: #FFE5CC;
}
.panel-own > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #FF8000;
}
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
		<div class="row">

			<div class="col-xs-12 .col-md-8">
				<div class="alert alert-success" role="alert">
  				<a href="/netmon/backend" class="alert-link">Instructions</a>
				</div>
			</div>
			<div class="col-xs-12 .col-md-8">
				<div class="alert alert-info" role="alert">
  				<a href="/netmon/listCollections" class="alert-link">Choose Database Collection</a>
				</div>
			</div>
			<div class="col-xs-12 .col-md-8">
				<div class="alert alert-info" role="alert">
  				<a href="/netmon/exploreCollections" class="alert-link">Explore Database Collection</a>
				</div>
			</div>
			<div class="col-xs-12 .col-md-8">
				<div class="alert alert-info" role="alert">
  				<a href="/netmon/detailCollections" class="alert-link">Collection Details</a>
				</div>
			</div>
  			<div class="col-xs-12 .col-md-8">
				<div class="alert alert-info" role="alert">
  				<a href="/netmon/editCollections" class="alert-link">Edit Database Collection</a>
				</div>
			</div>
  			<div class="col-xs-12 .col-md-8">
				<div class="alert alert-info" role="alert">
  				<a href="/netmon/deleteCollections" class="alert-link">Remove Database Collection</a>
				</div>
			</div>
  			
			<div class="col-xs-12 .col-md-8">
				<div class="alert alert-warning" role="alert">
  				<a href="/netmon/uploadFiles" class="alert-link">Upload Files</a>
				</div>
			</div>
			<div class="col-xs-12 .col-md-8">
				<div class="alert alert-warning" role="alert">
  				<a href="/netmon/removeFiles" class="alert-link">Remove Files</a>
				</div>
			</div>
			<div class="col-xs-12 .col-md-8"> 
				<div class="alert alert-warning" role="alert">
  				<a href="./storeFiles" class="alert-link">Store Database Collection</a>
				</div>
			</div>
			<div class="col-xs-12 .col-md-8"> 
				<div class="alert alert-warning" role="alert">
  				<a href="/netmon/storeFilesCelery" class="alert-link">Store Collection Celery</a>
				</div>
			</div>

			<div class="col-xs-12 .col-md-8"> 
				<div class="alert alert-own" role="alert">
  				<a href="/netmon/showKeyCollections" class="alert-link">Choose Key Collections</a>
				</div>
			</div>
			<div class="col-xs-12 .col-md-8"> 
				<div class="alert alert-own" role="alert">
  				<a href="/netmon/deleteKeyCollections" class="alert-link">Delete Key Collection</a>
				</div>
			</div>
			<div class="col-xs-12 .col-md-8"> 
				<div class="alert alert-own" role="alert">
  				<a href="/netmon/storeKeyCollections" class="alert-link">Store Key Collection</a>
				</div>
			</div>

			<div class="col-xs-12 .col-md-8"> 
				<div class="alert alert-danger" role="alert">
  				<a href="/netmon/realTimeMonitoring" class="alert-link">Activate Local Realtime Monitoring</a>
				</div>
			</div>
<div class="col-xs-12 .col-md-8"> 
				<div class="alert alert-danger" role="alert">
  				<a href="/netmon/realTimeMonitoringRemote" class="alert-link">Activate Remote Realtime Monitoring</a>
				</div>
			</div>
<div class="col-xs-12 .col-md-8"> 
				<div class="alert alert-danger" role="alert">
  				<a href="/netmon/realTimeMonitoringRemoteConfigure" class="alert-link">Configure Remote Monitoring</a>
				</div>
			</div>
			<div class="col-xs-12 .col-md-8"> 
				<div class="alert alert-danger" role="alert">
  				<a href="/netmon/realTimeMonitoringStatus" class="alert-link">Realtime Monitoring Status and Management</a>
				</div>
			</div>



		</div>	
	</div>
	<div class="col-xs-6 col-sm-8">{% block innercontent %}{% endblock %}</div>
  </div>
</div>

{% endblock %}
